<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Correntista</h1>

    <ul class="list-group">
        {% for c in correntista %}
       
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">{{c.nome}}</h5>
              
            </div> 
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item ">{{c.cpf}}</li>
              <li class="list-group-item">{{c.senha}}</li>
              <li class="list-group-item">{{c.saldo}}</li>
              <li class="list-group-item">{{c.telefone}}</li>
            </ul>
          </div>

        {% endfor %}
        
    </ul>

    <h1>Chaves</h1>

    <ul>
        {% for c in chaves %}
        <li>
            {{c}}
        </li>
        {% endfor%}
    </ul>
</body>
</html>
